# Solution for Onedot Task
by Malik Sogukoglu
## Goal:
Bringing supplier data into the customer's data system format

#### Note!
Execute the cells in order from beginning to end.

## Make some imports

In [471]:
import pandas as pd
import numpy as np

## Read data from supplier (source data)
- Encoding is done with UTF-8

In [498]:
source = pd.read_json("supplier_car.json", lines=True, encoding="utf-8")

# 01. Preprocessing

In [500]:
source_preprocessed = source

### Supplier data: Column selection and roll-up of the embedded data fields
- The columns **MakeText**, **ModelText**, **ModelTypeText** contain information that can be integrated into the customer system - these are therefore retained.
- Furthermore, the source file is structured in such a way that for a given index, there are several entries with different values for **Attribute Names** and **Attribute Values**. These attributes (columns) have to be rolled up so that they appear as new columns.

In [501]:
source_preprocessed = source_preprocessed.pivot(index=['ID', 'MakeText','ModelText', 'ModelTypeText'], columns='Attribute Names', values='Attribute Values')

### Index is resetted

In [476]:
source_preprocessed = source_preprocessed.reset_index()

### Target dataset is loaded. This specifies the structure into which the source data is to be integrated.

In [477]:
target = pd.read_excel("Target Data.xlsx")

In [497]:
target

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Convertible / Roadster,White,Used,USD,LHD,Zuzwil,CH,Toyota,1983,0.0,kilometer,Celica,2800 i Supra,False,car,NaN,3.0,l_km_consumption
1,Convertible / Roadster,Other,Original Condition,USD,LHD,London,GB,Ferrari,2001,0.0,mile,550,NaN,True,car,NaN,NaN,NaN
2,Convertible / Roadster,White,Used,USD,LHD,Scotts Valley,US,Porsche,1989,0.0,mile,"911 ""G""",NaN,True,car,NaN,NaN,NaN
3,Convertible / Roadster,Blue,Used,USD,LHD,London,GB,Rolls-Royce,1961,0.0,kilometer,Silver Cloud II,NaN,False,car,NaN,NaN,NaN
4,Convertible / Roadster,Black,Original Condition,USD,LHD,Hong Kong,HK,Gumpert,2010,0.0,kilometer,Apollo,Apollo S 800hp,False,car,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7247,Targa,Red,Used,CHF,RHD,Tunbridge Wells,GB,Jaguar,1974,NaN,mile,XJC,Experimental Prototype,False,car,NaN,NaN,NaN
7248,Targa,Silver,Used,CHF,RHD,Singen,DE,Porsche,1997,NaN,kilometer,911 / 993 Turbo,993 Turbo,True,car,NaN,3.0,NaN
7249,Targa,Yellow,Used,CHF,RHD,BRUMMEN,NL,Ferrari,1980,NaN,kilometer,308 GTB,GTS,True,car,NaN,NaN,NaN
7250,Targa,Black,Restored,AUD,RHD,Huntington Station,US,Lotus,1977,NaN,NaN,Esprit,S1,False,car,NY,NaN,NaN
7251,Targa,Other,Used,AUD,RHD,Monterey,US,Maserati,1975,NaN,NaN,Khamsin,NaN,True,car,NaN,NaN,NaN

### Select columns in the source dataset that are also in the target dataset.

The columns  **currency**, **drive**, **country**, **ZIP** and **price_on_request** which are part of the target dataset, are not in the source dataset. Those columns are therefore no longer taken into account in this ETL process. 

However, for a given **city** (which is actually given in the source dataset), the corresponding **ZIP** could also be read out via an online service.

In [478]:
source_preprocessed.columns

Index(['ID', 'MakeText', 'ModelText', 'ModelTypeText', 'BodyColorText',
       'BodyTypeText', 'Ccm', 'City', 'Co2EmissionText', 'ConditionTypeText',
       'ConsumptionRatingText', 'ConsumptionTotalText', 'Doors',
       'DriveTypeText', 'FirstRegMonth', 'FirstRegYear', 'FuelTypeText', 'Hp',
       'InteriorColorText', 'Km', 'Properties', 'Seats',
       'TransmissionTypeText'],
      dtype='object', name='Attribute Names')

In [479]:
source_preprocessed = source_preprocessed[["BodyTypeText", "BodyColorText", "ConditionTypeText", "City", "MakeText", "FirstRegYear", "Km", "ModelText", "ModelTypeText", "FirstRegMonth", "ConsumptionTotalText"]]

In [480]:
target.columns

Index(['carType', 'color', 'condition', 'currency', 'drive', 'city', 'country',
       'make', 'manufacture_year', 'mileage', 'mileage_unit', 'model',
       'model_variant', 'price_on_request', 'type', 'zip', 'manufacture_month',
       'fuel_consumption_unit'],
      dtype='object')

### Rename the selected columns in the source dataset according to the target dataset.

In [481]:
source_preprocessed = source_preprocessed.rename(columns={"BodyTypeText" : "carType", \
                                "BodyColorText" : "color",  \
                                "ConditionTypeText" : "condition",  \
                                "City" : "city",  \
                                "MakeText" : "make",  \
                                "FirstRegYear" : "manufacture_year",  \
                                "Km" : "mileage", \
                                "ModelText": "model", \
                                "ModelTypeText" : "model_variant", \
                                "BodyColorText" : "color" \
                               })

In [482]:
source_preprocessed

Attribute Names,carType,color,condition,city,make,manufacture_year,mileage,model,model_variant,FirstRegMonth,ConsumptionTotalText
0,Limousine,anthrazit,Occasion,Zuzwil,MERCEDES-BENZ,1999,31900,E 320,E 320 Elégance 4-Matic,1,11.5 l/100km
1,Kombi,anthrazit,Occasion,Zuzwil,AUDI,2008,25400,RS6,RS6 Avant 5.0 V10 quattro,7,14.0 l/100km
2,Kombi,anthrazit,Occasion,Zuzwil,AUDI,2002,38500,RS6,RS6 Avant quattro,10,14.6 l/100km
3,Coupé,anthrazit,Occasion,Zuzwil,CHEVROLET,2015,200,CORVETTE,Corvette Z06,6,12.7 l/100km
4,SUV / Geländewagen,anthrazit,Occasion,Zuzwil,PORSCHE,2010,2900,CAYENNE,Cayenne Turbo Techart Magnum Kit,1,11.5 l/100km
...,...,...,...,...,...,...,...,...,...,...,...
1148,Limousine,weiss mét.,Occasion,Zuzwil,MERCEDES-BENZ,2007,102000,S 65 AMG,S 65 AMG L,3,14.8 l/100km
1149,Limousine,weiss mét.,Occasion,Zuzwil,BMW,1998,39700,M5,M5,10,13.9 l/100km
1150,Limousine,weiss mét.,Occasion,Zuzwil,MERCEDES-BENZ,2005,99000,A 150,A 150 Classic,10,6.7 l/100km
1151,Coupé,weiss mét.,Occasion,Porrentruy,LAMBORGHINI,2008,5900,NaN,Reventon Coupé,4,null
1152,Kombi,weiss mét.,Occasion,Zuzwil,AUDI,2004,55000,RS6,RS6 Avant quattro,3,14.6 l/100km

# 02. Normalise

In [483]:
source_normalised = source_preprocessed.copy()

### Inspection of the variable categories of the source dataset

In [484]:
for col in source_normalised:
    print(source_normalised[col].unique())

['Limousine' 'Kombi' 'Coupé' 'SUV / Geländewagen' 'Cabriolet' 'Wohnkabine'
 'Kleinwagen' 'Kompaktvan / Minivan' 'Sattelschlepper' 'Pick-up' nan]
['anthrazit' 'anthrazit mét.' 'beige' 'beige mét.' 'blau' 'blau mét.'
 'bordeaux' 'bordeaux mét.' 'braun' 'braun mét.' 'gelb' 'gelb mét.' 'gold'
 'gold mét.' 'grau' 'grau mét.' 'grün' 'grün mét.' 'orange' 'orange mét.'
 'rot' 'rot mét.' 'schwarz' 'schwarz mét.' 'silber' 'silber mét.'
 'violett mét.' 'weiss' 'weiss mét.']
['Occasion' 'Oldtimer' 'Neu' 'Vorführmodell']
['Zuzwil' 'Sursee' 'Porrentruy' 'Safenwil' 'Basel' 'St. Gallen']
['MERCEDES-BENZ' 'AUDI' 'CHEVROLET' 'PORSCHE' 'FORD (USA)' 'ASTON MARTIN'
 'LOTUS' 'LAMBORGHINI' 'RUF' 'BMW' 'LAND ROVER' 'BMW-ALPINA' 'RENAULT'
 'BUGATTI' 'BENTLEY' 'GIOTTILINE' 'TRIUMPH' 'LINCOLN' 'FERRARI' 'HUMMER'
 'OPEL' 'JAGUAR' 'ALFA ROMEO' 'LANCIA' 'NSU' 'TOYOTA' 'DAIHATSU' 'CITROEN'
 'FORD' 'MASERATI' 'VW' 'MG' 'HONDA' 'SUBARU' 'VOLVO' 'MITSUBISHI' 'FIAT'
 'MORGAN' 'ROLLS-ROYCE' 'DAEWOO' 'MAZDA' 'CHRYSLER' 'DAIMLER'
 'AUSTIN-HEALEY' 'DODGE' 'TALBOT' 'SIMCA' 'McLAREN' 'LEXUS' 'PEUGEOT'
 'SAAB' 'MARCOS' 'NISSAN' 'SEAT' 'JEEP' 'TRABANT' 'YES!' 'HYUNDAI' 'MATRA'
 'KAISER' 'HARLEY-DAVIDSON' 'SMART' 'PGO' 'DATSUN' 'WIESMANN' 'DE TOMASO'
 'DeLorean' 'AUTOBIANCHI' 'MINI' 'AGM']
['1999' '2008' '2002' '2015' '2010' '2012' '2004' '2005' '2003' '1973'
 '2007' '1980' '1996' '2006' '1971' '1994' '1990' '1998' '2014' '2001'
 '1997' '1981' '2000' '1974' '1967' '1993' '1976' '1984' '1995' '1985'
 '1969' '2009' '2013' '1991' '1986' '1957' '2011' '1977' '1978' '1939'
 '1970' '1979' '1987' '1989' '1982' '1992' '1959' '1983' '1968' '1927'
 '1972' '1966' '1975' '1960' '1988' '2016' '1930' '1955' '1956' '1961']
['31900' '25400' '38500' '200' '2900' '92000' '120900' '31800' '38200'
 '48000' '36000' '26500' '54000' '120200' '99900' '16500' '63200' '12100'
 '146500' '47000' '27900' '19200' '121000' '20000' '32800' '48700'
 '112500' '89500' '48300' '47600' '125400' '34500' '97300' '95400'
 '153600' '16200' '36700' '46000' '49900' '19100' '40500' '34000' '32000'
 '185900' '16000' '81900' '38000' '130000' '43400' '46500' '51000' '47700'
 '33000' '50000' '108000' '77700' '60700' '49500' '59300' '61300' '75200'
 '127700' '29500' '88600' '114000' '60000' '44600' '9000' '26400' '62900'
 '74000' '26800' '75000' '78000' '19999' '37000' '68000' '38700' '15100'
 '49600' '61800' '83800' '64600' '69200' '3200' '29000' '147900' '10000'
 '53000' '26700' '161400' '49300' '126000' '62300' '42600' '80400' '52000'
 '108200' '57500' '12000' '26300' '19300' '100' '61400' '81000' '37800'
 '50100' '91600' '20800' '41000' '79700' '83000' '32500' '14500' '39100'
 '145100' '199300' '42500' '114200' '26200' '64500' '23900' '96500'
 '106000' '27700' '111500' '132600' '31400' '25100' '119600' '49800'
 '123400' '18000' '68800' '39267' '162000' '7990' '4300' '7300' '53500'
 '116100' '96000' '108500' '27000' '62000' '86900' '34400' '86200' '66800'
 '78700' '35000' '111000' '166550' '161500' '97200' '68900' '62700'
 '59800' '39300' '8000' '75100' '51200' '49700' '53100' '20700' '150200'
 '2400' '49000' '77300' '142000' '52500' '30500' '139900' '35200' '14100'
 '23000' '1' '128000' '450' '63600' '9999' '30300' '175100' '67400'
 '171700' '29300' '80000' '22800' '33700' '7100' '19720' '28100' '3000'
 '103000' '28000' '42000' '103100' '89700' '158000' '58100' '28600'
 '135800' '31700' '13000' '78900' '59900' '94800' '67200' '25900' '20400'
 '54500' '4000' '41900' '8100' '39000' '32900' '63000' '46050' '83900'
 '99800' '88500' '16600' '124500' '15900' '155000' '145000' '165' '47400'
 '68700' '24600' '16900' '20900' '52900' '76500' '63300' '31000' '88100'
 '41400' '105300' '54600' '47500' '85800' '50300' '114800' '300' '100200'
 '113000' '205500' '65000' '58000' '93500' '5000' '112800' '206000'
 '19800' '55200' '24000' '119000' '45000' '14000' '32700' '82500' '79500'
 '127000' '128800' '6000' '48800' '36300' '91000' '50400' '39800' '41500'
 '45500' '34900' '75900' '74100' '73900' '1600' '89200' '4900' '37900'
 '29200' '66300' '69377' '13800' '2000' '238500' '55900' '67800' '65400'
 '104650' '151300' '182200' '70400' '36600' '43000' '9900' '47300'
 '114600' '18200' '13300' '44000' '63400' '176000' '195800' '103600'
 '19900' '72000' '38600' '64800' '71300' '15000' '131000' '140000' '16300'
 '118300' '10352' '77600' '34800' '56500' '43900' '16660' '23700' '50200'
 '211000' '72600' '128600' '43200' '45300' '7600' '94000' '12900' '70000'
 '33400' '99500' '55000' '6300' '84000' '53600' '33600' '138000' '584'
 '89100' '7000' '60100' '9650' '41800' '140200' '22100' '36800' '112400'
 '148600' '18600' '90400' '67000' '78400' '58200' '11700' '89000' '20100'
 '79000' '14400' '101500' '47100' '104400' '84600' '43700' '29800' '73200'
 '30900' '95100' '99999' '85000' '117900' '99' '82400' '21100' '69900'
 '4400' '127800' '44200' '33800' '196300' '61900' '71900' '25700' '92300'
 '43300' '36900' '98000' '18400' '55300' '132200' '107000' '156300'
 '133500' '34600' '91900' '15300' '28500' '118200' '7890' '123300'
 '111900' '65300' '79800' '177000' '88000' '41100' '129700' '128500'
 '164400' '117400' '70900' '7400' '77800' '93000' '999' '53300' '49200'
 '90' '121900' '3600' '56600' '40900' '94500' '60500' '9800' '77500'
 '111600' '103800' '159700' '118000' '36100' '70700' '21700' '94400'
 '11000' '134000' '24300' '57400' '124900' '58900' '35500' '4950' '89666'
 '153900' '28800' '25000' '68200' '69300' '92500' '134600' '43800' '62200'
 '27800' '171000' '20600' '60990' '54100' '90600' '79900' '97000' '1500'
 '21300' '45600' '500' '58300' '228000' '66100' '50900' '2500' '86100'
 '23800' '69500' '21500' '2300' '29100' '137700' '13960' '61000' '110200'
 '13900' '9400' '175000' '67700' '20500' '91100' '1999' '99300' '55'
 '34200' '35800' '31200' '150' '14873' '26900' '1700' '316200' '19400'
 '125600' '10600' '108100' '23100' '39900' '41700' '34650' '56400' '99400'
 '222300' '85200' '141000' '52800' '13500' '40700' '59500' '112300'
 '29600' '126200' '8900' '51800' '21800' '45700' '115100' '76200' '13200'
 '9500' '107100' '33613' '64100' '59000' '26000' '30600' '90000' '27650'
 '77000' '64700' '75600' '21400' '82600' '111990' '30400' '4600' '48200'
 '23200' '45200' '110800' '101900' '71700' '125000' '129800' '73700'
 '47900' '40100' '117100' '40600' '74500' '125900' '128200' '63500'
 '186000' '31750' '680' '73800' '82000' '2100' '18300' '113800' '134100'
 '240500' '38900' '87000' '96400' '157400' '8700' '165000' '35100'
 '130300' '79380' '28900' '147400' '62500' '144200' '57000' '117800'
 '162900' '101300' '1350' '75400' '104500' '40800' '22400' '1000' '55800'
 '38400' '82100' '82804' '1200' '33900' '144000' '42300' '8500' '22500'
 '39200' '105800' '147800' '56200' '23500' '72200' '68500' '86000' '48100'
 '120000' '157000' '71600' '5900' '39500' '80500' '48500' '61200' '139200'
 '98320' '69100' '29900' '85700' '160' '64000' '24400' '137000' '40300'
 '31500' '57700' '56100' '5400' '69800' '66900' '156000' '57600' '14700'
 '46900' '126300' '400' '21000' '19000' '86300' '124800' '129400' '144100'
 '35600' '127850' '95700' '41300' '39600' '172800' '578' '25300' '46700'
 '118800' '42200' '13700' '97100' '23300' '156800' '27600' '123000'
 '53800' '14990' '87800' '33500' '198000' '10900' '42940' '101400' '15600'
 '52400' '60800' '79100' '68100' '17000' '12800' '74400' '69000' '79300'
 '31300' '152000' '69600' '39400' '96600' '83600' '101200' '53400'
 '120800' '75300' '101800' '75700' '5300' '77900' '44500' '95300' '148300'
 '10800' '115000' '78300' '11200' '10' '94700' '22000' '85400' '37500'
 '73400' '12200' '98600' '10400' '15800' '73500' '30100' '197800' '6900'
 '58950' '143700' '110600' '56000' '44300' '70600' '102000' '39700'
 '99000']
['E 320' 'RS6' 'CORVETTE' 'CAYENNE' 'MUSTANG' 'CLS 500' 'DB9' 'ELISE' nan
 'X5' '924' 'Cabriolet' 'RANGE ROVER' 'SL 55 AMG' 'C 63 AMG' '3 SERIES'
 'Alpine A110' 'SL 600' 'TURBO' '911' 'SL 500' 'A8' 'SLR' 'S 65 AMG'
 'ALPINE' 'MURCIÉLAGO' 'E 55 AMG' 'CLS 63 AMG' 'S4' '330' 'Spitfire'
 'Navigator' '456' 'RANGE ROVER SPORT' 'RS4' '750' 'DIABLO' 'H3' 'CL 600'
 'ARNAGE' 'SPEEDSTER' 'XJ' 'GTV' 'PANAMERA' 'SL 63 AMG' 'DELTA' 'CELICA'
 'CL 500' 'F355' 'M3' 'CHARADE' 'C5' 'CAPRI' 'S-TYPE' 'SLK 350'
 'CONTINENTAL' 'CLIO' 'CAMARO' 'COUPÉ GT' 'SPYDER GT' 'E 230' 'M5' 'F360'
 'F12' 'PHAETON' 'EXPLORER' '500' 'ML 500' 'BROOKLANDS' 'C 320' '5 SERIES'
 '728' 'E 63 AMG' 'S 55 AMG' 'E 240' 'Z1' 'LEGEND' 'SL 320' 'C 230'
 'GALLARDO' '190' '2002' 'F430' 'QUATTROPORTE' '530' 'EOS' 'A6' 'X3'
 '6 SERIES' '540' 'BOXSTER' '458' 'E 420' 'ML 63 AMG' 'S 600' 'SLK 230'
 'ESPRIT' 'IMPREZA' 'DB7' 'S 500' '575M' 'C70' '7 SERIES' 'CLK 55 AMG'
 'LANCER' 'S 320' 'SL 300' 'Z4' '328' '4/4' 'CORNICHE' 'TACUMA' '3200 GT'
 'S 400' 'S6' '626' 'CAMRY' 'VIPER' 'MR2' 'TESTAR./512' 'R5' 'RX-7' 'EB'
 'XK' '535' 'SL 350' 'HURACAN' 'Virage' 'PUNTO' '612' 'R8' 'CLK 63 AMG'
 'F550' 'DBS' 'E 500' 'CL 65 AMG' '323' 'BEETLE' 'MGC' 'CLK 430' 'GOLF'
 'DEFENDER' 'S-CLASS' '740' 'CORTINA' 'SLK 200' 'V12 Vanquish'
 '530 Gran Turismo' 'MATRA' 'Super Seven' 'S 250' '730' '12C' '348' 'GS'
 'Dino' 'CLS 55 AMG' 'S3' 'MONDIAL' 'E 430' 'CL 55 AMG' '406' '633'
 'SLK 320' 'ALFASUD' 'S8' '9-3' 'E 350' 'SL 65 AMG' '944' 'S 63 AMG'
 'STARION' 'Mulsanne' '300C' 'V70' 'C 350' 'Silver Shadow' 'A4' 'E 50 AMG'
 '135' 'SUNNY' 'IBIZA' 'S40' 'Grand Cherokee' 'C 180' '320' '525'
 'F40 / F50' 'V8' '528' 'SIERRA' 'LEON' 'E' 'AVENTADOR' '760' 'B 200'
 '335' 'SLK 55 AMG' 'TT' 'ESCORT' 'V8 Vantage' 'FRONTERA' '300' 'SPIDER'
 'EUROPA' 'MANTA' 'VECTRA' 'SL-CLASS' 'G 63 AMG' 'MURANO' 'M6' 'METRO'
 '450' 'S5' 'LAGONDA' 'Silver Spirit' '600-SERIES' 'CL 63 AMG' 'R12'
 'DYNA' 'TOUAREG' 'COUPÉ' 'ML 430' 'Skyline' '166' '523' '550' 'SLS 63'
 'Ram' 'GRANTURISMO' 'C 43 AMG' '131' 'SLK 32 AMG' 'S 350' 'TOURAN' '3.0'
 'G 55 AMG' '9-5' 'Continental' 'GHIBLI' 'ACCORD' 'RS5' 'Silver Spur'
 'LAND CRUISER' 'FORTWO' 'R 500' 'GT' '599' '365' 'C 280' '200 SX' '545'
 'C 240' 'GRANSPORT' '735' 'E 250' 'COROLLA' 'X1' 'SPORT SPIDER' 'QUATTRO'
 'BITURBO' 'CLK 320' '2CV' 'TR3' 'DISCOVERY' 'STILO' 'CARINA' '650' 'S60'
 'CARRERA GT' 'CLS 350' '8C' '280' '745' 'ML 400' 'JETTA' 'COUPE' 'S7'
 '645' 'Dolomite' 'ML 350' 'PANTERA' 'A112' 'Silverado' 'PHANTOM' 'MX-5'
 '205' 'XJ 220' 'ESPACE' 'MINI' 'A 150']
['E 320 Elégance 4-Matic' 'RS6 Avant 5.0 V10 quattro' 'RS6 Avant quattro'
 'Corvette Z06' 'Cayenne Turbo Techart Magnum Kit' 'Mustang Shelby GT500'
 'CLS 500' 'DB9 Volante' 'Elise' 'Espada GT 400 Serie 3' 'RT 12'
 'X5 4.6is' '924 Turbo' 'Cabriolet 2.8 E' 'Range Rover 3.6 d HSE'
 'SL 55 AMG' 'Range Rover 4.4TD Vogue' 'C 63 AMG BLACK SERIES (Coupé)'
 '3 SERIES B8' 'Alpine A110 1600S Gruppe 5 look' 'Cayenne Turbo'
 'Veyron 16.4' 'SL 600' 'Turbo R' '911 Carrera' 'Therry T22' 'SL 500'
 '911 Turbo' 'A8 4.2 quattro' 'SLR 730PS' 'S 65 AMG L' 'Alpine A310 V6'
 'Murciélago 6.2 Roadster' 'S 65 L / BRABUS T65 S' 'E 55 AMG Avantgarde'
 'CLS 63 AMG' 'X5 4.4i' 'S4 Avant quattro' 'Murciélago 6.2 Coupé' '330Ci'
 'Spitfire MK IV' 'Navigator 32 V' '456M GT' 'SL 250 Pagode'
 'Range Rover Sport 4.2 V8 SC' 'Murciélago LP640-4 Cpé'
 'RS4 Avant quattro' '750i' 'Diablo 5.7' '911 GT2' 'H3 3.5 Luxury'
 'CL 600' 'Alpine A110 1600 SX' 'Arnage Green Label' 'Speedster 2.2 16V'
 'SLR McLaren Coupé' 'XJ8 4.2 V8 Sovereign' 'GTV 6 2.5'
 '911 Carrera Cabrio' 'Panamera Turbo 4.8' 'SL 63 AMG'
 'DELTA Integrale EVO' 'TTS' 'CELICA 2000GT' 'CL 500' 'F355 Berlinetta'
 'M3' 'Charade 1.0 Turbo' 'C5 3.0 V6 Exclusive' 'CAPRI RS 2600'
 'S-Type 4.0 V8' 'SLK 350' 'Continental FlyingSpur6.0'
 'Clio 2.0 16V Sport' 'CAMARO' 'Coupé GT' 'XJ 4.0 Sovereign' 'Spyder GT'
 'E 230 Elégance' 'M5' 'F360 Modena Berlinetta'
 '911 Carrera 4 Cabrio TECHART' '911 Turbo Cabrio' 'RS4 4.2 V8 quattro'
 'F12 Berlinetta' 'Arnage Red Label' 'RS6 Avant 4.0 TFSI V8 qu'
 'Phaeton 6.0 W12 4Motion' 'Explorer 4.0 Ltd. Edition' '500 SE' 'ML 500'
 'E 320 Avantgarde' 'CLK DTM AMG' 'Brooklands' 'C 320 Elégance'
 '5 SERIES B7 TURBO' '728i' 'E 63 AMG S 4Matic' 'Roadster' 'S 55 AMG'
 'E 240 Avantgarde' 'Z1' 'Legend V6 3.5i' 'SL 320' 'C 230 Elégance'
 'Gallardo LP570-4 Coupé SL' 'Alpine A110 A5 Motor' '190 E 2.5-16 ABS'
 '2002 Turbo' 'Mustang 5.0 GT Premium 50 Years'
 'Gallardo LP550-2 Cpé V.B.' 'F430 Spider' 'Quattroporte 4.7 S'
 '530d Touring' 'Eos 2.0 FSI T' 'A6 4.2 V8 quattro' 'X3 3.0i'
 'B6 4.4 V8 Cabrio' '540i' 'Boxster S 3.2' '458 Italia 4.5 V8 Speciale'
 'E 420 Elégance' 'ML 63 AMG 4Matic' 'S 600' 'SLK 230 Kompressor'
 'Esprit 3.5 V8 SE' 'Impreza 2.5T WRX' 'DB7' 'S 500' 'Quattroporte 4.2'
 'ALPINE A310 1600 VG' '575M' 'C70 T5' 'Range Rover 4.6 HSE'
 'CELICA 1600 GT' '7 SERIES B7 Turbo Coupé' 'SLR McLaren Roadster' '924'
 'A8  6.0 quattro' 'CLK 55 AMG Avantgarde' '911 Carrera 4S'
 'Lancer Evo VII' 'S 320' '170V B Cabrio 136' '911 Turbo S Cabrio'
 'SL 300' '850 Spider' 'T 2' 'A6 Avant 2.7 T q.Ambiente' 'F430'
 'Quattroporte 4.2 Sport GT' 'Z4 2.5i Roadster' '328i' '4/4 1.8'
 'CORNICHE Cabrio' 'Tacuma 2000i CDX' '911 Turbo S Cabrio PDK' '911 Targa'
 '3200 GT' 'S 400 CDI' 'S6 quattro' '190 E 2.5-16 Evo II ABS'
 '626 2.0i-16V HPV' 'CAMRY 2000 GLi Super Liftback' 'Cayenne Turbo S'
 'Viper RT/10' 'MR2 2.0' 'Testarossa' 'Corvette ZR1' 'CTR' 'R5 Turbo 2'
 'Six 4.0' 'RX-7 2.6 Turbo II' 'S 500 L 4Matic' 'EB 110 GT/SS'
 'S-Type 4.2 V8 S/C R' '911 Carrera Targa' 'F355 GTS' 'XK8 Convertible'
 'CORVETTE' 'F360 Spider' 'R5 1400 Alpine Turbo' 'Delta HF Integrale Evo'
 'Arnage R' 'RS6 Avant 5.0 V10 quattro MTM' '100/Six BN6 Roadster'
 'CTR 2 Sport' '911 Carrera S Cabrio' '535i Touring' 'Celica 2800 i Supra'
 'SL 350' '540i Touring' 'Huracan LP610-4 Coupé' 'Virage'
 'Punto 1.8 16V HGT' '612' 'R8 Coupé 4.2' 'CLK 63 AMG Black Series'
 'Continental GTC 6.0' 'F550 Maranello' 'DBS Coupé' 'E 500 Limited'
 'CL 65 AMG' 'SL 500 Special Edition' 'Gallardo LP560-4 Coupé'
 'Boxster S 3.4' 'Phaeton 4.2 V8 4Motion' 'R8 Gordini' 'S 500 L'
 '323i Sport Edition' 'CL 500 4Matic' 'BEETLE New Beetle Cup' 'C GT'
 'T - Roadster' 'CLK 430 Elégance' 'Golf 2.0 TSI R 4Motion'
 '911 Carrera RS Clubsport/993 GT2' 'Defender 90 2.4Td4 SW'
 'S6 quattro 4.2' 'Alpine A110 1600S VC' 'S 55 L AMG' '740i'
 'Gallardo LP560-4 Spyder' 'VIPER' 'E 500 Avantgarde' '456 GTA'
 'CORTINA Cortina Lotus' 'SLK 200' '323 323i' '911 Carrera 4'
 'Vanquish V12' '530d GT' '1602' 'RANGE ROVER 3.5' 'Murena 2.2'
 'BT7 3000 Mk I' 'Super Seven HKT' 'Cayenne S' 'S 250 CDI BlueEff SS'
 'S 320 CDI' '456M GTA' '730i' 'Rallye2' 'MP4-12C Spider 3.8 V8'
 'Rally 037 stradale' '348 tb' '911 Turbo S Cabrio SPEED ART 580PS'
 'E 60 Carlsson' 'Diablo SE 30' 'DBS Volante'
 'Continental Supersports Conv.' 'GS 450h' 'Dino 2400 Coupé' '323Ci'
 'CLS 55 AMG' 'TT' 'S3 2.0 TFSI quattro' '575M NOVITEC' 'Mondial 3.4 T'
 'E 430 Avantgarde' 'CL 55 AMG' '323 Alpina Look' '406 Coupé 3.0 V6 Pack'
 '633 CSI A' 'SLK 320' 'A6 2.8 Ambiente' 'Alfasud 1.5 ti' 'Dino 246 GTS'
 'S8 4.2 quattro' 'Alpine A110' '9-3 2.0i-16 T SE'
 'Quattroporte 4.2 Exec. GT' 'SL 60' '911 GT3 CUP Rennwagen'
 'DIABLO SV-R Race' 'E 350 Elégance 4Matic' 'SL 65 AMG'
 'RS6 Avant 5.0 V10 quattro 730PS' '944 S2 Cabriolet ABS' 'VIPER RT/10'
 'Range Rover 4.4 V8 HSE' 'F355 Spider' 'S 63 AMG'
 'Speedster 2.0 16V Turbo' 'E 63 AMG CGI'
 '911 Carrera 4 Ruf Turbo BTR 2 420 PS' 'Starion 2000 Turbo'
 'Mulsanne Turbo' '300C T 5.7 HEMI V8' '9-3 2.0T Performance' 'V70 2.4T'
 'Phaeton 3.0 TDi V6 4M' 'C 350 Elégance 4Matic' 'Boxster 2.5'
 'Silver Shadow II' 'XJR 4.0 V8 S/C' 'Arnage T' 'E 63 AMG' '1600 GT'
 'CLIO Rennwagen' 'ALPINE V6' '911 GT3 CS' 'SL 65 AMG BLACK SERIES'
 'E 420 Avantgarde' 'B 200' 'A6 Avant 2.7 T Ambition' '911 Turbo S'
 '1000 / Publica' 'XKR S/C Convertible' 'A4 Avant 2.8 q.Ambition'
 'E 50 AMG Avantgarde' 'X5 4.8is' '135i' 'ALPINE 2700VA'
 'SUNNY 2.0 16V GTI-R Rallye' 'GTV 2000 Bertone' 'Ibiza 1.9 TDI FR'
 'S40 2.0 T' 'R8 Spyder 5.2' 'Grand Cherokee 5.2 Ltd.'
 'S6 Avant quattro 4.2' 'C 180 Esprit' '750iL' '320i Touring'
 'DAUPHINE GORDINI' '525xi' 'CORNICHE II Coupé' 'F40 / F50'
 'Alpine A110 1600 S' 'V8 4.0' '530i Touring' '528i Touring'
 'Continental R Coupé' 'Sierra 2.0i Cosworth 4x4'
 'RS4 Avant 4.2 V8 quattro' '911 Carrera Jubilé 40' '911 GT3 RS'
 '1300S Trabusa' 'Leon 2.0 TSI FR' 'E E-Type III' 'Aventador LP700-4 Rds'
 '760i L' 'B 200 T Sailing Edition' '335i' 'SLK 55 AMG'
 'TTS Cpé 2.0 TFSI quattro' 'B10 4.6 S.Tronic' 'Escort 2.0i RS Cosworth'
 'C 63 AMG Avantgarde' 'V8 Vantage 4.3' 'B5 BiTurbo 4.4 V8' 'XKR S/C'
 'Frontera 3.2i V6 Limited' 'SLK 55 AMG Black Series'
 'Corvette 5.7 LT1 Convert.' '300 SEL 3.5' 'Spider 2.0'
 '9-3 2.0i-16 TS Aero' 'EUROPA' 'MANTA 400 Breitbau' '750i xDrive'
 'Vectra 2.8 T V6 Cosmo' '500 SL' 'G 63 AMG' 'S 63 AMG L' 'Murano 3.5 V6'
 'Gallardo Superleggera' 'M6' 'A4 Avant 3.0 V6 quattro'
 'METRO 6R4 Gruppe B' '535i' 'Diablo 5.7 VT Roadster' '730d' '450 SLC'
 'Alpine A110 1300' '911 GT3' 'Roadster 3.2' 'S5 Coupé 4.2 FSI quattro'
 'LAGONDA Shooting Brake' 'Silver Spirit Mk. I' 'MP4-12C 3.8 V8'
 'Range Rover Sport 5.0 V8 SC' 'A8 3.7' '611 DS'
 'RS4 Avant 4.2 FSI quattro' 'CL 63 AMG FAB DESIGN' 'R12 Gordini'
 'DYNA Bergungsfahrzeug' 'GallardoLP570-4CpéTecnica' 'Touareg R50 V10'
 'SLK 200 Kompressor' 'S3 quattro' 'Continental GT 6.0' 'SL 500 Edition'
 'Coupé 2.7 24V FX' 'ML 430' 'Skyline Rennwagen'
 'Continental GT Speed 6.0' 'ML 500 4Matic' 'E 63 AMG Avantgarde'
 'RS4 Cabriolet 4.2 quattro' '166 3.0 V6 24V Super'
 'B3 3.2 Coupé S.Tronic' 'SIMCA Bagheera Serie II' 'Alpine A110 1600 SC'
 '523i Touring' 'F430 Challenge GT3 LOOK' '550i Touring'
 'Grand Cherokee 4.0 Ltd.' 'CORNICHE III' 'SLS 63 AMG' 'Ram SRT-10'
 'Diablo 5.7 SV' 'SPIDER CSA' 'CLK DTM AMG Cabriolet' 'GranTurismo S'
 'Murciélago LP670-4 SV Cpé' 'Gallardo 5.0 V10 Coupé' 'CL 5.8 BRABUS'
 'C 43 AMG Sport' '131 Racing / Sport' '911 Carrera 4S Cabrio'
 'Alpine A110 Modell 1400 FASA' '911 GTR (GT3)' 'F360 Challenge stradale'
 'E 240 Elégance' '323 E21' '911 Carrera 4 S Cabrio' 'SLK 32 AMG'
 '320d Touring' 'S 350 L 4Matic' 'A4 Avant 3.0 V6' 'Touran 1.4 TSI Trend'
 'S 600 L' '3.0 CSL' 'G 55 AMG' 'CJ-5 12V ARMEEFAHRZEUG' 'HKT Seven GTS'
 'Sunbeam Lotus' '9-5 2.3T Aero' 'R8 Coupé 5.2' 'Continental'
 'Ghibli 2.8 GT' '525i' '911 Turbo ll 3.6' 'Accord Coupé V6 3.0i VTEC'
 'RS5 Coupé 4.2FSI quattro' '458 Italia 4.5 V8' 'Silver Spur'
 'XKR 5.0 V8 SC' '535d xDrive' 'C 63 AMG BLACK SERIES' '740iL'
 '911 GT3 CUP' '328i A Cabrio' 'Delta HF Integrale Evo 4V'
 'LAND CRUISER BJ 40 LT' 'HPU Hurricane TC' '323 i E21' 'GranTurismo'
 'Fortwo passion' 'S6 Avant quattro' 'R 500 4Matic' 'CORNICHE Convertible'
 'GT 1300 Junior' '599 GTB HGTE' '365 Daytona Plexiglas'
 'Alpine A310 V6 VFA-2700 VAA' 'C 280 Elégance' 'Touareg 5.0 TDI V10'
 '200 SX 1.8 16V Turbo' '599 GTB' '911 Turbo II' 'DB9' 'Mustang' '545i'
 'C 240 Elégance' 'Coupé GranSport' 'MP4-12C Coupé 3.8 V8' '735i'
 'E 250 CGI BlueEff Avgarde' 'Corolla 2.0 D4D L.Terra'
 'X1 xDrive 25d Sport Line' 'S 65 L AMG 650PS' 'Golf R32 4Motion'
 'SPORT SPIDER Windschutzscheibe' 'R5 Alpine' 'Spider 2.0 16V TURBO'
 'CL 500 Prime Edition' 'Range Rover 5.0 V8 SC' 'M Roadster'
 '124 Spider CSA Abarth' '5 SERIES B7 (E28)' 'Corniche' 'Skyline R34 GTR'
 'quattro Turbo 20V' 'Alpine A610 Turbo' 'R8 GT Spyder 5.2'
 'Biturbo Spyder E' 'CLK 320 Sport' '2CV6 Charleston' 'Clio 3.0 Sport V6'
 'TR3' '535d' 'DB7 Vantage Volante' '2002 tii' 'M3 CSL' 'SL 500 6.0 AMG'
 'Discovery 3.9' '300 300SL W198' 'Stilo 1.8 16V Swiss'
 'Monte Carlo 137 AS' 'CARINA Deluxe' 'E 320 Elégance' '650i xDrive'
 'Corvette 6.2' '328i Coupé' 'S60 2.4T' 'Viper GTS' 'RS200 EVO Gruppe B'
 'Panamera 4S 4.8' 'E 320 CDI Avantgarde' '330xi'
 '7 SERIES B7 Turbo Limousine' 'Carrera GT' 'Sunny 2.0 16V GTI-R'
 'B3 3.3 S' 'SLR McLaren' '911 SC 3.0' 'TURBO' 'Cevennes'
 'R5 Alpine Turbo' 'A6 2.4' 'CLS 350 CGI' 'Diablo 5.7 VT' '8C'
 'SPORTS 2000' 'Gallardo 5.0 V10 Coupé SE' '280 3.5 V8 Cabrio' '745i'
 '911 Carrera 2 RS' '300SL Roadster' '8C Coupé' 'ML 400 CDI'
 'Golf 2.0 TFSI GTI' 'Jetta 2.0 TDI Comfort' 'GT MF5' 'Z4 M Coupé'
 'Alpine A110 1300S' 'ALPINE 1600 VF' 'Corolla 1600 GTi TC16'
 'S7 Sportback 4.0 TFSI V8 quattro' '645i' '911 Carrera 4 S'

### Inspection of the variable categories of the target dataset

In [485]:
for col in target:
    print(target[col].unique())

['Convertible / Roadster' 'Coupé' 'Custom' nan 'SUV' 'Other' 'Saloon'
 'Single seater' 'Station Wagon' 'Targa']
['White' 'Other' 'Blue' 'Black' 'Silver' 'Brown' 'Red' 'Gray' 'Green'
 'Beige' 'Yellow' 'Orange' 'Purple' 'Gold']
['Used' 'Original Condition' 'Restored' 'New' 'Used with guarantee'
 'Restoration Project']
['USD' 'JPY' 'GBP' 'EUR' 'CHF' 'AUD']
['LHD' 'RHD' nan]
['Zuzwil' 'London' 'Scotts Valley' 'Hong Kong' 'Bovenden' 'Isernhagen'
 'De Lier' 'Berlin' 'Waalwijk' 'Lyon' 'Aachen' 'Düsseldorf' 'Harelbeke'
 'Neustadt' 'Baierbrunn bei München' 'Bramley' 'CH-8852 Altendorf / SZ'
 'Singen' 'St. Louis' 'Erkelenz' 'HETEREN' 'Courbevoie' 'Mill' 'Overijse'
 'Paris' 'Huntington Station' 'Böblingen' 'Riedering' 'Preston'
 'Wuppertal' 'Langenfeld' 'Puget Sur Argens' 'Beamish' 'Hamburg'
 'Pleidelsheim' 'BRUMMEN' 'Aalst' 'Buckinghamshire UK' '8706 Meilen'
 'NUNSPEET' 'MOORDRECHT' 'Aalter' 'Köln' 'Gronsveld' 'CH-2900 Porrentury'
 '7302 Landquart' 'Olney' 'Turnhout' 'Maranello' nan
 'Dubai - Vereinigte Arabische Emirate' 'Hemel Hempstead' 'Kissing'
 'Peuerbach' 'Nürnberg' 'Kleinmachnow' 'Monterey' 'London TW8 9EW' 'Malle'
 'Heilbronn' 'Rickmansworth' 'Tokyo' 'Rijssen' 'Ettlingen' 'Tamworth'
 'Böblingen (bei Stuttgart)' 'Derbyshire Dales District' 'marlow'
 'Leverkusen' 'Oldenburg' 'Fawkham' 'Miami' 'Gaillac' 'Houston'
 'Henley on Thames' 'Murnau' 'Indianapolis' 'Amsterdam' 'Zollikon'
 'Frankfurt/Main' 'Lohne-Wietmarschen' 'Kerpen' 'Voglans'
 '8165 Oberweningen' 'Hook' 'Naarden' 'Zeist' 'Wommelgem' 'Chorleywood'
 'Hesperange' 'Brühl' '08019 Barcelona' 'Tinton Falls' 'LIEGE'
 'Lège-Cap-Ferret' 'San Diego' 'Speyer' 'Needham' 'grünwald' 'Ahrensburg'
 'Wendelstein' 'Fellbach' 'Woodbridge' 'Brussels' 'Bergdietikon' 'Oxford'
 'Geneva' 'WATERLOO' 'Kyoto' 'Almere' 'Sint-Martens-Latem' 'Marseille'
 'Orange' 'Telgte' 'Landshut' 'Sattledt' 'Akiruno' 'London SW18 4JP'
 'Monaco-Ville' 'Wien' 'Elsloo' 'Ashford' '1228 Plan-les-Ouates - Genève'
 'Wiltshire' '8953 Dietikon /Zürich' 'Swadlincote' 'München' 'Barcelona'
 'Farnham' 'Noranco' 'Muenster' 'Richmond' "'s-Graveland"
 'Hartley Wintney' 'MONACO' 'Boskoop' 'Großmaischeid' 'Recklinghausen'
 'LE CANNET' 'La Louviere' 'Mereworth' 'Burford' 'Frankfurt' 'Brno'
 'Bletchingley' 'LONDON' 'Bilthoven' 'Hasselt' 'BOLOGNA' 'Monaco'
 'Plymouth' 'South Kensington' 'Durham' 'Leeds' 'SCHWERTBERG' 'Waltham'
 'Chur' 'Fossalta di Portogruaro' 'Tanworth' 'Bern' 'HILVERSUM'
 'Karlsruhe' 'Beuron-Neidingen' 'Newport Pagnell' 'PARIS' 'Koekangen'
 'Walmer Bridge' 'Cotswolds' 'Svenstrup J' '1950 Sion' 'Frechen'
 'Church Crookham' 'Porrentruy' '1228 Plan-les-Ouates/ GE - Switzerland'
 'Reims' 'Halstead' 'Maaloev' 'MODENA' '9300 Aalst' 'Anzing bei München'
 'Villejust' '1207 Geneva' 'Bodio Lomnago' 'Wolfsburg' 'Belmont'
 '8964 Rudolfstetten' 'Wijnegem' 'Lisbon' 'Dubai' 'London SW7 5BQ'
 'Iver Heath' 'Colombes' 'BRESCIA' 'NEUILLY SUR SEINE'
 'North Yorkshire HG4 1JD' 'Otley' 'Ascot' 'Münster' 'Sassenheim' 'Kassel'
 'Büsserach' 'Gütersloh' 'Carmel' 'Castricum' 'Rueil-Malmaison' 'Günzburg'
 'BEURE' 'Lichtenfels' 'Brügge' 'Bodegraven' "Reggio nell'Emilia"
 'Zufikon' 'Grez-Doiceau' 'Riemerling b. München' 'Twyford' 'Helsinki'
 '76139 Karlsruhe' 'London SE1 0NR' 'Anzing' 'Monte carlo' 'Jinočany'
 'Friedrichshafen' 'Swindon' 'Cobham' 'Merelbeke' 'Evere' 'Temse'
 'Straelen' 'Bielefeld' 'Mannheim' 'Egmating' '30916 Isernhagen'
 'Martorell' 'Mayfield and Five Ashes' '1006 Lausanne'
 'Rielasingen-Worblingen' 'Iver SL0 9HF' 'Chofu-Shi Tokyo 182-006'
 'Weinfelden' 'Hants' 'Reading' 'Stavelot' 'GAILLAC' 'Banstead' 'Milan'
 'Hof bei Salzburg' 'Enter a location' 'London W8 6JP' 'Jena' 'Guildford'
 'Lisboa' 'Tunbridge Wells' 'Maldon' 'La Jolla' 'LYON' 'Colchester'
 'Tilburg' 'Forch' 'Luton' 'Stockach' 'Wetherby' 'ATHENS' 'Lasne' 'Hanau'
 'Warsaw' 'Polling-Oberbayern' '8126 Zumikon/Zuerich' 'London SW7 3HE'
 'Madrid' 'Vösendorf' 'Costa Mesa' 'Palma de Mallorca' 'Flensburg'
 'BOUGIVAL' 'Eutin' 'Oguchi-cho' 'Safenwil' 'Cincinnati' 'MELBOURNE'
 'Kuwait' 'Five Ashes' 'Lichtervelde' 'Auburn Hills' "Braine-l'Alleud"
 'viterbo' 'Brüssel' 'Drachten' 'Ballenstedt' 'bruxelles' 'North Miami'
 'MARTORELL' 'Saarbruecken' 'Oliveira de Azemeis' 'Marlow' 'Saint-Junien'
 'Wangen an der Aare' 'Ipswich' 'Beaconsfield' 'Aadorf' 'Malov'
 'Irschenberg' 'Oslo' 'Neuss' 'MEUDON' 'Stuttgart' 'Vienna'
 '8117 Fällanden' 'hesingue' 'LUTON' 'Bergisch Gladbach' 'Chester'
 'Zandhoven' 'Oosterhout' 'Southbourne' 'Maidenhead' 'Mayen' 'SETAGAYA'
 'Sant Boi de Llobregat' 'Latsch' 'Nagoya' 'Gstaad' 'Oerlinghausen'
 'Norderstedt' '1274 Howald' 'Kriens' 'Morelia' "Villeneuve-d'Ascq"
 'Willsbach' 'Cary' 'wijnegem' 'hildburghausen' 'Philadelphia'
 'Hungerford' 'Tournai' 'Donaustauf' 'Cairanne' 'Dallas' 'Ivyland'
 'Hausham' 'Zürich' 'Delft' 'Gent' 'Leighton Buzzard' 'Ouddorp'
 'Orange Park' 'Caldes de Montbui' '9524 Zuzwil SG' 'San Fior'
 'Reutlingen' 'Zug' 'Coldrerio' 'Herve' 'Kronberg' 'Melle' 'BRECHT'
 'Oberhausen' 'Bettembourg' 'Herselt' 'Brest' 'Sarreguemines'
 'Wallingford' "BRAINE L'ALLEUD" 'Meerbusch' '76532 Baden-Baden'
 'Kornwestheim' 'Pfaffenhofen' '4633 Melen-Belgium' 'Wasserbillig'
 'red hook' 'Bruxelles' 'Kirchheim' 'Trondheim' 'Antwerpen' 'Setagaya'
 'Kilchberg' 'london' 'RIO DE JANEIRO' 'Molsheim' 'Knokke-Le-Zoute'
 'West Sussex' 'Auckland' 'MARLOW' '8952 Schlieren' 'Wannegem-Lede'
 'Ghent' 'Milton Keynes' 'Breda' 'Victoria' 'suginami' 'Copenhagen'
 'Modena' 'FOUESNANT' 'Baden-Baden' 'Parsdorf / München' 'Osijek' 'Buochs'
 'Hertford Heath' 'Chedburgh' 'Porto' 'Papenburg' 'Zurich' 'Los Angeles'
 '74078 Heilbronn' 'Langham' 'Waldenbuch' 'Charlotte'
 'D-56276 Großmaischeid' 'market harborough' 'St. Gallen' 'Sydney' 'Perth'
 'Dortmund' '97447 Gerolzhofen' 'Aubussargues' 'Milano'
 'Dubai - United Arab Emirates' 'PADOVA']
['CH' 'GB' 'US' 'HK' 'DE' 'NL' 'FR' 'BE' 'IT' 'AE' 'AT' 'JP' 'LU' 'ES'
 'MC' 'AU' 'CA' 'CZ' 'DK' 'PT' 'FI' 'GR' 'PL' 'KW' 'NO' 'MX' 'BR' 'NZ'
 'HR']
['Toyota' 'Ferrari' 'Porsche' 'Rolls-Royce' 'Gumpert' 'Mercedes-Benz'
 'Fiat' 'Sunbeam' 'Jaguar' 'Bentley' 'TVR' 'Bugatti' 'Renault'
 'Bizzarrini' 'BMW' 'Lancia' 'Maserati' 'VW' 'Chevrolet' 'Cadillac'
 'Land Rover' 'Dodge' 'Lamborghini' 'Ford' 'Aston Martin' 'Citroen' 'Audi'
 'Alfa Romeo' 'Jeep' 'Salmson' 'Hotchkiss' 'Volvo' 'Opel' 'MG' 'Triumph'
 'Pontiac' 'Duesenberg' 'Lotus' 'Delage' 'Buick' 'Austin-Healey'
 'Pedalcars' 'Cisitalia' 'McLaren' 'Studebaker' 'Oldsmobile' 'Simca'
 'Victor' 'Lola' 'Alpine' 'Autobianchi' 'Shelby' 'Datsun' 'Pierce-Arrow'
 'GMC' 'Allard' 'MINI Classic' 'Suzuki' 'Panther' 'Mitsubishi' 'Packard'
 'ASA' 'Alvis' 'Lynx' 'Lagonda' 'Austin' 'Nissan' 'Riley' 'Chrysler'
 'Talbot' 'Lincoln' nan 'Alpina' 'Arrows' 'Morris' 'Morgan' 'Honda'
 'Isdera' 'Glas' 'Hummer' 'Tatra' 'BSA (Cars)' 'Bristol' 'Horch' 'Jensen'
 'Wiesmann' 'AC' 'Delahaye' 'Rover' 'Maybach' 'DeSoto' 'BSA'
 'Isotta-Fraschini' 'Peugeot' 'Invicta' 'Rudolph Roadster' 'Tempo'
 'Amilcar' 'Hudson' 'Mercury' 'Healey' 'De Tomaso' 'MINI' 'AMC' 'Mazda'
 'Talbot Lago' 'Auburn' 'Devin' 'Deutsch-Bonnet (DB)' 'Minerva'
 'American LaFrance' 'Hispano-Suiza' 'Acura' 'La Buire' 'Panhard' 'Abarth'
 'HRG' 'Matford' 'Marcos' 'Merlyn' 'Connaught' 'Lexus' 'Holden' 'OSI'
 'Replica' 'Frazer Nash' 'Intermeccanica' 'Plymouth' 'Siata' 'NSU'
 'Koenigsegg' 'Nash' 'Daimler' 'Iso' 'Rondeau' 'REO' 'DMC' 'TOJ' 'Hanomag'
 'Veritas' 'Fahr' 'FBW' 'Saab' 'BRM' 'Hupmobile' 'Ruf' 'OSCA' 'Huron'
 'AAR' 'Georges Irat' 'Bandini' 'Cord' 'AMX' 'Smart' 'Lorraine-Dietrich'
 'Trabant' 'Pur Sang' 'Cobra' 'Ariel' 'Raleigh' 'Facel Vega' 'Lea Francis'
 'PGO' 'Martini' 'Formula I' 'Matra' 'Nash Healey' 'Blackstone' 'Yes!'
 'White Motor Company' 'Weineck' 'Vauxhall' 'Auto Union' 'Tyrrell'
 'Cooper' 'Spyker' 'Berliet' 'Wolseley' 'Subaru' 'De Sanctis' 'Ghia'
 'Williams' 'Daren' 'Unic' 'Georges Richard' 'IFA' 'Adler' 'Himiko'
 'Gordon Keeble' 'Bertone' 'Rolux' 'Tesla' 'Borgward' 'Ensign' 'Boursaud'
 'Lister' 'Steyr D. Puch' 'Messerschmitt' 'Stanguellini' 'Diamond T'
 'Pegaso' 'KTM' 'Moretti' 'Monteverdi' 'Meyers Manx' 'Voisin' 'Franklin'
 'Magirus' 'Amphicar' 'Dallara' 'Innocenti' 'Chevron' 'Ligier' 'Hawk'
 'Springer' 'Reynard' 'Brabham' 'AGM' 'Veb' 'Saleen' 'Willys' 'OM'
 'Crosley' 'Saurer' 'Clenet' 'Mosler' 'GMG' 'Giannini' 'Praga' 'Crossle'
 'Kougar' 'Normag' 'Rochet-Schneider' 'Other' 'Singer Motors Limited'
 'Tornado' 'Elva' 'Mathis' 'Marmon' 'Sauber' 'Surtees' 'Children´s car'
 'BHS' 'DKW' 'Lada' 'Osella' 'Armstrong Siddeley' 'Société Parisienne'
 'Corre La Licorne' 'Pagani' 'Ardun' 'Venturi' 'Monos' 'McDowell']
[1983 2001 1989 1961 2010 1979 1990 1973 1939 1950 1987 1966 1952 2016
 2008 1985 1999 2002 1994 1995 1925 1954 1968 1981 1965 2005 1960 1993
 1969 1956 2012 2006 1972 1964 2004 1948 1984 1977 2007 1971 2000 1974
 1967 1970 1975 1998 2003 1997 2011 2009 1988 1935 1996 1991 2015 2014
 1962 1982 1930 1937 1978 1955 1951 1959 1980 1963 1946 1957 1947 1958
 1931 1953 1992 1933 1926 1949 1927 1976 1941 1907 1986 2013 1938 1928
 1932 1929 1934 1942 1936 1921 1940 1908 1924 1922 1900 1909    0 1914
 1897 1923 1899 1943 1944 1910   63 1945 1911 1919]
[0.000000e+00 1.000000e+00 1.100000e+00 ... 9.999999e+06 1.000000e+07
 1.000000e+08]
['kilometer' 'mile' nan]
['Celica' '550' '911 "G"' ... 'KR' 'Focus' 'Quattro']
['2800 i Supra' nan 'Apollo S 800hp' ... 'GT Speed | Bentley STUTTGART'
 'Experimental Prototype' 'S1']
[False  True]
['car']
[nan 'Surrey' 'MO' 'NY' 'Tokyo' 'uk' 'FL' 'IN' 'NJ' 'CA' 'MA' 'Suffolk'
 'Kyoto' 'kent' 'spain' 'VIC' 'ON' 'Kent' 'London' 'NC' 'VE' 'Toyota'
 'Buckinghamshire' 'Barcelona' 'Hampshire' 'essex' 'Sureey' 'BS'
 'West Yorkshire' 'Essex' 'RE' 'Lancashire' 'BARCELONA' 'Wiltshire'
 'SPAIN' 'East Sussex' 'kyoto' 'MI' 'BUCKS' 'BEDFORDSHIRE' 'CT' 'Madrid'
 'Balearics Island' 'Aichi' 'OH' 'kuwait' 'Hertfordshire' 'VT'
 'Balearic Islands' 'UK' 'Kyoyro' 'TAS' 'berkshire' 'TOKYO' 'BZ' 'Japan'
 'Michoacan' 'PA' 'Kuwait' 'Bedfordshire' 'Berkshire' 'Beds' 'TV'
 'Hexagon Modern Classics' 'tokyo' 'Hamshire' 'BO' 'RJ' 'VV' 'West Sussex'
 'Auckland' 'BUCKINGHAMSHIRE' 'Bucks' 'BC' 'Barcerlona' 'ESSEX'
 'barcelona' 'Middlesex' 'leicestershire' 'england' 'NSW' 'WA' 'PD']
[ 3. nan  6.  9.  1. 12. 11.  4.  2.  5.  7.  8. 10.  0.]
['l_km_consumption' nan]

### Normalisation of column "mileage_unit"

In the source data, the mileage was explicitly stated as kilometers for all rows under the column **Km**.  In this regard, the target dataset (in which the source data is to be transferred) has also the column **mileage_unit**. In order to transfer the source data into that target data-format, the value **kilometer** is declared explicitly as **mileage_unit** for all data entries in the source dataset.

In [486]:
source_normalised["mileage_unit"] = "kilometer"

...furthermore, the target data-format has the column **type**, whereby in the target dataset there are only entries of the type **cars**. By inspecting the categories of a similar column called **carType** in the source dataset, it appears that only cars are listed there as well --> therefore all entries in the source dataset are labeled as type **car**.

### Normalisation of column "type"

In [487]:
source_normalised["type"] = "car"

### Normalisation of column "fuel_consumption_unit"

#### Furthermore, according to the inspection from above, ...
the **car consumption** in the source dataset is given as **...l/km**. 
In order to convert these data into the target data-format, wherever the consumption was given in **l/km** (see column **ConsumptionTotalText** in the source dataset), the text **l_km_consumption** is inserted under the new column **fuel_consumption_unit**. If the consumption was not specified in the source dataset, the corresponding text field is left empty.

In [488]:
source_normalised['fuel_consumption_unit'] = np.where(source_normalised['ConsumptionTotalText'].str.contains("l/100km"), "l_km_consumption", "")

#### Remove column ConsumptionTotalText as it has been replaced by "fuel_consuption_unit" in the target data format.

In [489]:
source_normalised = source_normalised.drop(['ConsumptionTotalText'], axis=1)

### Normalisation of column "color"

When normalising the **color** column, it is noticeable that the target dataset contains significantly fewer colors than the source dataset. 
The car colours are now named according to the colors in the target set, whereby distinctions such as **metallic/non-metallic are no longer made**, i.e. the granulation is no longer as deep. In addition, the color names are **translated from German into English**.

- Source **color**-Levels: 
    - ['anthrazit' 'anthrazit mét.' 'beige' 'beige mét.' 'blau' 'blau mét.'
 'bordeaux' 'bordeaux mét.' 'braun' 'braun mét.' 'gelb' 'gelb mét.' 'gold'
 'gold mét.' 'grau' 'grau mét.' 'grün' 'grün mét.' 'orange' 'orange mét.'
 'rot' 'rot mét.' 'schwarz' 'schwarz mét.' 'silber' 'silber mét.'
 'violett mét.' 'weiss' 'weiss mét.']

----[:normalise]---->
    
- Target **color**-Levels: 
    - ['White' 'Other' 'Blue' 'Black' 'Silver' 'Brown' 'Red' 'Gray' 'Green'
 'Beige' 'Yellow' 'Orange' 'Purple' 'Gold']

In [490]:
source_normalised['color'] = source_normalised['color'].replace({'anthrazit':'Gray', \
                                  'anthrazit mét.':'Gray', \
                                  'beige' : 'Beige' , \
                                  'beige mét.' : 'Beige', \
                                  'blau' : 'Blue' , \
                                  'blau mét.' : 'Blue' , \
                                  'bordeaux' : 'Purple', \
                                  'bordeaux mét.' : 'Purple', \
                                  'braun' : 'Brown', \
                                  'braun mét.' : 'Brown', \
                                  'gelb' : 'Yellow', \
                                  'gelb mét.' : 'Yellow', \
                                  'gold' : 'Gold', \
                                  'gold mét.': 'Gold' , \
                                  'grau': 'Gray',\
                                  'grau mét.' : 'Gray', \
                                  'grün' : 'Green' , \
                                  'grün mét.' : 'Green' , \
                                  'orange' : 'Orange' , \
                                  'orange mét.' : 'Orange' , \
                                  'rot' : 'Red' , \
                                  'rot mét.' : 'Red' , \
                                  'schwarz' : 'Black' , \
                                  'schwarz mét.' : 'Black' , \
                                  'silber' : 'Silver' , \
                                  'silber mét.' : 'Silver' , \
                                  'violett mét.' : 'Purple' , \
                                  'weiss' : 'White' , \
                                  'weiss mét.' : 'White'

                                 }
                                )

### TODO: normalisation of column "Condition"
For the conversion of column **condition**, a little more background knowledge is required. For example, it is not clear whether an **occasion** in the source dataset means a **used**, or rather a **uses with guarantee** in the target dataset.


- Source **condition**-Levels: 
    - ['Occasion' 'Oldtimer' 'Neu' 'Vorführmodell']

----[:normalise]---->

- Target **condition**-Levels: 
    - ['Used' 'Original Condition' 'Restored' 'New' 'Used with guarantee'
 'Restoration Project']

In [503]:
### Example code
# source_normalised = source_normalised['condition'].replace({'Occasion':'Used', 'Neu':'New'})

### TODO: normalisation of column "carType" 
Also for **carType** it is not quite clear which category in the source dataset corresponds to those in the target dataset - in this context, it might be possible to contact the customer or the supplier, to gain a deeper understanding of this topic.

- Source **carType**-Levels: 
    - ['Limousine' 'Kombi' 'Coupé' 'SUV / Geländewagen' 'Cabriolet' 'Wohnkabine'
 'Kleinwagen' 'Kompaktvan / Minivan' 'Sattelschlepper' 'Pick-up' nan]

----[:normalise]---->

- Target **carType**-Levels: 
    - ['Convertible / Roadster' 'Coupé' 'Custom' nan 'SUV' 'Other' 'Saloon'
 'Single seater' 'Station Wagon' 'Targa']

In [492]:
source_normalised

Attribute Names,carType,color,condition,city,make,manufacture_year,mileage,model,model_variant,FirstRegMonth,mileage_unit,type,fuel_consumption_unit
0,Limousine,Gray,Occasion,Zuzwil,MERCEDES-BENZ,1999,31900,E 320,E 320 Elégance 4-Matic,1,kilometer,car,l_km_consumption
1,Kombi,Gray,Occasion,Zuzwil,AUDI,2008,25400,RS6,RS6 Avant 5.0 V10 quattro,7,kilometer,car,l_km_consumption
2,Kombi,Gray,Occasion,Zuzwil,AUDI,2002,38500,RS6,RS6 Avant quattro,10,kilometer,car,l_km_consumption
3,Coupé,Gray,Occasion,Zuzwil,CHEVROLET,2015,200,CORVETTE,Corvette Z06,6,kilometer,car,l_km_consumption
4,SUV / Geländewagen,Gray,Occasion,Zuzwil,PORSCHE,2010,2900,CAYENNE,Cayenne Turbo Techart Magnum Kit,1,kilometer,car,l_km_consumption
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,Limousine,White,Occasion,Zuzwil,MERCEDES-BENZ,2007,102000,S 65 AMG,S 65 AMG L,3,kilometer,car,l_km_consumption
1149,Limousine,White,Occasion,Zuzwil,BMW,1998,39700,M5,M5,10,kilometer,car,l_km_consumption
1150,Limousine,White,Occasion,Zuzwil,MERCEDES-BENZ,2005,99000,A 150,A 150 Classic,10,kilometer,car,l_km_consumption
1151,Coupé,White,Occasion,Porrentruy,LAMBORGHINI,2008,5900,NaN,Reventon Coupé,4,kilometer,car,
1152,Kombi,White,Occasion,Zuzwil,AUDI,2004,55000,RS6,RS6 Avant quattro,3,kilometer,car,l_km_consumption

# 3. Integration
Up to this step, the source dataset was prepared for integration into the target data-format. The following should be noted about the **adjusted source dataset**:
- Only columns of source dataset that fit into target dataset are considered.
- No additional data was added or data was removed.
- Source data is preprocessed and normalised.

In [493]:
integrated = pd.concat([source_normalised, target])

In [496]:
integrated

,carType,color,condition,city,make,manufacture_year,mileage,model,model_variant,FirstRegMonth,mileage_unit,type,fuel_consumption_unit,currency,drive,country,price_on_request,zip,manufacture_month
0,Limousine,Gray,Occasion,Zuzwil,MERCEDES-BENZ,1999,31900,E 320,E 320 Elégance 4-Matic,1,kilometer,car,l_km_consumption,NaN,NaN,NaN,NaN,NaN,NaN
1,Kombi,Gray,Occasion,Zuzwil,AUDI,2008,25400,RS6,RS6 Avant 5.0 V10 quattro,7,kilometer,car,l_km_consumption,NaN,NaN,NaN,NaN,NaN,NaN
2,Kombi,Gray,Occasion,Zuzwil,AUDI,2002,38500,RS6,RS6 Avant quattro,10,kilometer,car,l_km_consumption,NaN,NaN,NaN,NaN,NaN,NaN
3,Coupé,Gray,Occasion,Zuzwil,CHEVROLET,2015,200,CORVETTE,Corvette Z06,6,kilometer,car,l_km_consumption,NaN,NaN,NaN,NaN,NaN,NaN
4,SUV / Geländewagen,Gray,Occasion,Zuzwil,PORSCHE,2010,2900,CAYENNE,Cayenne Turbo Techart Magnum Kit,1,kilometer,car,l_km_consumption,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7247,Targa,Red,Used,Tunbridge Wells,Jaguar,1974,NaN,XJC,Experimental Prototype,NaN,mile,car,NaN,CHF,RHD,GB,False,NaN,NaN
7248,Targa,Silver,Used,Singen,Porsche,1997,NaN,911 / 993 Turbo,993 Turbo,NaN,kilometer,car,NaN,CHF,RHD,DE,True,NaN,3.0
7249,Targa,Yellow,Used,BRUMMEN,Ferrari,1980,NaN,308 GTB,GTS,NaN,kilometer,car,NaN,CHF,RHD,NL,True,NaN,NaN
7250,Targa,Black,Restored,Huntington Station,Lotus,1977,NaN,Esprit,S1,NaN,NaN,car,NaN,AUD,RHD,US,False,NY,NaN
7251,Targa,Other,Used,Monterey,Maserati,1975,NaN,Khamsin,NaN,NaN,NaN,car,NaN,AUD,RHD,US,True,NaN,NaN

### Write preprocessed, normalised and integrated data into Excel file

In [495]:
path = r"onedot_output_malik.xlsx"
writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
source_preprocessed.to_excel(writer, sheet_name = "01_Preprocessed")
source_normalised.to_excel(writer, sheet_name = "02_Normalised")
integrated.to_excel(writer, sheet_name = "03_Integrated")
writer.save()
writer.close()

C:\Users\malik\anaconda3\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")